<% layout('layout') %>
	<div class="loader-container" id="overlay">
		<div class="loader"></div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8 offset-md-2">
				<form method="POST" id="edit-a-product">

					<input type="hidden" name="id" id="product_id" value="<%= product._id %>">

					<div class="form-group">
						<label for="item_name">Product name</label>
						<input type="text" class="form-control" name="name" id="add_product_name" placeholder="Product name" value="<%= product.name %>"
						 required>
					</div>

					<div class="row">
						<div class="col-4">
							<div class="form-group">
								<div class="input-group mb-2">
									<input type="number" class="form-control" name="price" id="add_product_price" placeholder="Price" value="<%= product.price %>"
									 required>
									<div class="input-group-prepend">
										<div class="input-group-text">&euro;</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-4">
							<div class="form-group">
								<div class="input-group mb-2">
									<input type="number" min="0" class="form-control" name="inventory" id="inventory" placeholder="Inventory" value="<%= product.inventory %>"
									 required>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-8">
							<div class="form-group">
								<label for="categories">Category</label>
								<select class="form-control" id="categories" name="category">
									<% for(var i=0; i<categories.length; i++) { %>
										<% if(categories[i]._id.toString() == product.category) { %>
											<option selected value="<%= categories[i]._id %>">
												<%= categories[i].name %>
											</option>
											<% } else { %>
												<option value="<%= categories[i]._id %>">
													<%= categories[i].name %>
												</option>
												<% } %>
													<% } %>
								</select>

							</div>
						</div>

						<div class="col-4" style="display: flex; justify-content: center; align-items: center;">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">Add new Category</button>
						</div>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>



	<!-- Modal -->
	<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form id="add_category">
					<div class="modal-body">

						<div class="form-group">
							<label for="category-name" class="col-form-label">Category</label>
							<input type="text" class="form-control" id="category_name" name="category_name" required>
						</div>

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="submit" class="btn btn-primary">Save category</button>
					</div>
				</form>
			</div>
		</div>
	</div>